---
name: Sprint
about: Issue om een Sprint bij te houden
title: Sprint X
labels: sprint report
assignees: '{{students|map(attribute="username", default="Unknown")|join(", ")}}, {{mentors[0].username}}'

---

Te doen in deze sprint:
* Oplijsting taken, inclusief werkverdeling, met referentie naar de issues

Op het einde van de sprint, wordt in de commentaren van dit issue een verslag verwacht van wat er wel en niet gelukt is.
